*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.wrong-file {
  border: 1px solid red;
  margin: 0 auto;
  width: 20rem;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
  color: #333;
  background-color: #fff;
  font-size: 14px
}